html {
font-family: 'PT Sans Caption', sans-serif;
font-size: 16px;
line-height: 1.5 ;


}

.body{
	overflow: hidden;
}
img{
	display:inline-block;
}

a {
	transition: 0.2s  ease-out;

}

*{
	box-sizing: border-box;
}
@font-face {
	font-family: Rubins;
	src: url(/foonts/11774.ttf);
}
.header {
background-image:url(../img/bg-header.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
height: 100vh ;
width: 100vw;
color: #fff;
text-align: center;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
position: relative;


}
.familia{
font-size: 56px;
margin-bottom: 30px;
font-family:  'Merriweather', serif;
margin-top: -50px;
}

.deitel{
	font-size: 28px;
	line-height: 42px;
}

.header__arrow{

	font-size: 48px;
	width: 60px;
	height: 50px;
	margin-left: -30px;

	position: absolute;
	bottom: 50px;
	left: 50%;
}


.title{
	font-size: 46px;
	font-family:  'Merriweather', serif;
	text-align:  center;
	margin-bottom:60px;

}
.container{
	width:1140px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom:20px;
}




.row{
margin-bottom:40px;

}


.row:after{
	clear: both;
	content: "";
	display: table;
}




.col-4{
width:360px;
margin-right: 30px;
float: left;


}
.col-4:last-child{
margin-right:0px;
}

.portfolio-item__img{
	margin-bottom: 17px;
}

.portfolio-item__title{
	font-size: 24px;
	line-height: normal;
	margin-bottom: 5px;
}
.portfolio-item__text{
	font-size: 16px;
	line-height: 1.5;
}

.portfolio{

	padding-top: 70px;
	padding-bottom: 100px;
}

.portfolio-item{

	margin-bottom: 20px;
}


.portfolio-item__title a {
	text-decoration:none;
	color:#000;
	border-bottom:1px solid #fff; 
}

.portfolio-item__title a:hover{
	color:#0052c2;
	border-color:rgba(0,82,194,0.3);
}

.portfolio-item__text p {

	margin-top:0px;
	margin-bottom:15px;
}
.footer{
	margin-top: 420px;
	position: static;
	bottom: 0;
	left: 0;
	background-color: #061634;
	color:#6479a2;
	padding-top:90px;
	padding-bottom:90px;
	
}

.footer p {
	margin-top: 0px;
	margin-bottom: 15px;
}
p.footer__name{
font-size: 28px;
margin-bottom: 10px;
line-height: normal;
font-family:  'Merriweather', serif;
}

p.footer__social{
	color: #fff;

}
p.footer__social-icons{
	color: #fff;
	font-size: 32px;
}
p.footer__social-icons a {
	color: #fff;
	text-decoration:none;
	margin-right: 30px;
	transition: 0.2s  ease-out;
}
p.footer__social-icons a:last-child{
	margin-right: 0px;
}
p.footer__social-icons a:hover{
	color: #ffe400;
}
.button{
	font-weight: 700;
	text-decoration:none;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1.6px;
	display: inline-block;
	border-width: 2px;
	border-color: #fff;
	border-style: solid;
	border-radius: 50px;
	padding-top:8px;
	padding-bottom: 8px;
	padding-left: 23px;
	padding-right: 23px;
	margin-bottom: 13px;
	transition: 0.2s  ease-out;
}
.button:hover{
	color:#061634;
	background-color: #fff;
}
.portfolio-single-page{
	padding-top:50px;
	padding-bottom: 50px;
	text-align:center;
}
.portfolio-single-page img {
	margin-bottom: 50px;
	max-width: 100%;
	height: auto;
	
}
.button-back{
	font-weight: 700;
	text-decoration:none;
	color: #0052c2;
	text-transform: uppercase;
	letter-spacing: 1.6px;
	display: inline-block;
	border-width: 2px;
	border-color: #0052c2;
	border-style: solid;
	border-radius: 50px;
	padding-top:8px;
	padding-bottom: 8px;
	padding-left: 23px;
	padding-right: 23px;
	margin-bottom: 13px;
	transition: 0.2s  ease-out;
}
.button-back:hover{
	color:#fff;
	background-color: #0052c2;
}

.hamburger-menu{
	display:none;
  }
/*MEDIA  ПОД ТЕЛЕФОЕ */
@media  (max-width:1200px) {

.container{
	overflow: hidden;
	display: flex;
	justify-content: center;
	flex-direction: column;
	width:100%;
	
}
.mt2{
	margin-top: 305px;
}

.mt3{
	margin-top: 305px;
}

.row{
	 margin: 0 auto;
	width: 641px; 
	display: flex;
	justify-content: center;
	flex-wrap: wrap;	
}
.col-4{
		display: flex;
		flex-wrap: wrap;
		margin-left: 20%;
		margin-right: 0%;
		width:100%;
		box-sizing: border-box;
		margin-bottom: 30px;
		padding-left: 15px;
		padding-right:15px;
		text-align: center;
	}

.familia{
		margin-top: -500px;
		font-size: 60px;
		line-height: 38px;
		margin-bottom: 55px;
		
		}

.deitel{
		font-size: 45px;
		line-height: 58px;
		}

.portfolio{
		padding-top: 40px;
		padding-bottom:50px ;
		}
		
		.footer p {
			text-align: left;
		}
		.header__arrow{
			font-size: 48px;
			width: 60px;
			height: 50px;
			margin-left: -30px;
			position: absolute;
			bottom: 250px;
			left: 50%;
		}
		.hamburger-menu{
			display:block;
			position: absolute;
		}
		#toggleThemeBtn{
			display: none;
		}
}
@media(max-width:770px){
	.familia{
		margin-top: -300px;
		font-size: 50px;
	}
	.deitel{
		font-size: 35px;
		margin-top: 30px;
	}
	.col-4{
		
		display: flex;
		flex-wrap: wrap;
		margin-left: 126px;
		width:100%;
		box-sizing: border-box;
		margin-bottom: 30px;
		text-align: center;
	}
	.mt1 , .mt2 , .mt3{
		display: flex;
		flex-wrap: wrap;
		margin-left: 19%;
		margin-right: 50%;
		width:100%;
		box-sizing: border-box;
		margin-bottom: 30px;
		text-align: center;
	}
	.header__arrow{
		font-size: 48px;
		width: 60px;
		height: 50px;
		margin-left: -30px;
		position: absolute;
		bottom: 130px;
		left: 50%;
	}
	.deitel{
		font-size: 35px;
		line-height: 38px;
		}

.portfolio{
		padding-top: 40px;
		padding-bottom:50px ;
		}
	
}

@media(max-width:635px){
	.col-4{
		display: flex;
		flex-wrap: wrap;
		margin-left: 18%;
		margin-right: 0%;
		width:100%;
		box-sizing: border-box;
		margin-bottom: 30px;
		padding-left: 15px;
		padding-right:15px;
		text-align: center;
	}
}
@media(max-width:609px){
	.col-4{
		display: flex;
		flex-wrap: wrap;
		margin-left: 16%;
		margin-right: 0%;
		width:100%;
		box-sizing: border-box;
		margin-bottom: 30px;
		padding-left: 15px;
		padding-right:15px;
		text-align: center;
	}
}
@media(max-width:587px){
	.col-4{
		display: flex;
		flex-wrap: wrap;
		margin-left: 13%;
		margin-right: 0%;
		width:100%;
		box-sizing: border-box;
		margin-bottom: 30px;
		padding-left: 15px;
		padding-right:15px;
		text-align: center;
	}
}
@media(max-width:541px){
	.col-4{
		display: flex;
		flex-wrap: wrap;
		margin-left: 11%;
		margin-right: 0%;
		width:100%;
		box-sizing: border-box;
		margin-bottom: 30px;
		padding-left: 15px;
		padding-right:15px;
		text-align: center;
	}
	#button-up{
		display: none;
		position: fixed;
		right: 40px;
		bottom: 100px;			
		color: #fff;
		text-align: center;
		font-size: 30px;
		padding: 15px;
		transition: .1.5s;
		
	  }
}
@media(max-width:511px){
	.col-4{
		display: flex;
		flex-wrap: wrap;
		margin-left: 9%;
		margin-right: 0%;
		width:100%;
		box-sizing: border-box;
		margin-bottom: 30px;
		padding-left: 15px;
		padding-right:15px;
		text-align: center;
	}
}
@media(max-width:461px){
	.col-4{
		display: flex;
		flex-wrap: wrap;
		margin-left: 6%;
		margin-right: 0%;
		width:100%;
		box-sizing: border-box;
		margin-bottom: 30px;
		padding-left: 15px;
		padding-right:15px;
		text-align: center;
	}
}
@media(max-width:437px){
	.col-4{
		display: flex;
		flex-wrap: wrap;
		margin-left: 8%;
		margin-right: 0%;
		width:100%;
		box-sizing: border-box;
		margin-bottom: 30px;
		padding-left: 15px;
		padding-right:15px;
		text-align: center;
	}
	.card{
		width: 250px;
		height: 250px;
		perspective:1000px;
	  }
}

@media(max-width:415px){
	.col-4{
		flex-direction: column;
		display: flex;
		flex-wrap: wrap;
		margin-left: 6%;
		margin-right: 0%;
		width:100%;
		box-sizing: border-box;
		margin-bottom: 30px;
		text-align: center;
	}
	.portfolio-item__img img {
		width: 300px;
	}
	.button{
		padding-left: 10px;
		padding-right: 10px;
		margin-left: -54%;
	}
	.mt1 , .mt2 , .mt3{
		display: flex;
		flex-wrap: wrap;
		margin-left: 7%;
		margin-right: 0%;
		width:100%;
		box-sizing: border-box;
		margin-bottom: 30px;
		text-align: center;
	}
	.plast{
		display: none;
	}
	p.footer__social-icons a {
		color: #fff;
		text-decoration:none;
		margin-right: 20px;
		transition: 0.2s  ease-out;
	}
	#button-up{
		display: none;
		position: fixed;
		right: 25px;
		bottom: 100px;			
		color: #fff;
		text-align: center;
		font-size: 25px;
		padding: 15px;
		transition: .1.5s;
	  }
	  .header__arrow{

		font-size: 48px;
		width: 60px;
		height: 50px;
		margin-left: -30px;
	
		position: absolute;
		bottom: 100px;
		left: 50%;
	}
	.familia{
		margin-top: -200px;
		font-size: 40px;
	}
	.deitel{
		font-size: 25px;
		margin-top: 30px;
		margin-top: -35px;
	}
}
@media(max-width:376px){
	.mt1 , .mt2 , .mt3{
		display: flex;
		flex-wrap: wrap;
		margin-left: 4%;
		margin-right: 0%;
		width:100%;
		box-sizing: border-box;
		margin-bottom: 30px;
		text-align: center;
	}
	.header__arrow{

		font-size: 48px;
		width: 60px;
		height: 50px;
		margin-left: -30px;
	
		position: absolute;
		bottom: 100px;
		left: 50%;
	}
	.familia{
		margin-top: -200px;
		font-size: 40px;
	}
	.deitel{
		font-size: 25px;
		margin-top: 30px;
		margin-top: -35px;
	}
}
@media(max-width:370px){
	.col-4{
		flex-direction: column;
		display: flex;
		flex-wrap: wrap;
		margin-left: 3%;
		margin-right: 0%;
		width:100%;
		box-sizing: border-box;
		margin-bottom: 30px;
		text-align: center;
	}
	.portfolio-item__img img {
		width: 300px;
	}
	.button{
		padding-left: 10px;
		padding-right: 10px;
		margin-left: -54%;
	}
	.mt1 , .mt2 , .mt3{
		display: flex;
		flex-wrap: wrap;
		margin-left: 2%;
		margin-right: 0%;
		width:100%;
		box-sizing: border-box;
		margin-bottom: 30px;
		text-align: center;
	}
	.plast{
		display: none;
	}
	p.footer__social-icons a {
		color: #fff;
		text-decoration:none;
		margin-right: 20px;
		transition: 0.2s  ease-out;
	}
	#button-up{
		display: none;
		position: fixed;
		right: 25px;
		bottom: 100px;			
		color: #fff;
		text-align: center;
		font-size: 25px;
		padding: 15px;
		transition: .1.5s;
	  }
}
@media(max-width:325px){
	
	.col-4{
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		margin-left: -3%;
		margin-right: -6%;
		width:100%;
		box-sizing: border-box;
		margin-bottom: 30px;
		text-align: center;
	}
	

	.mt1 , .mt2 , .mt3{
		display: flex;
		flex-wrap: wrap;
		margin-left: 0%;
		margin-right: 97%;
		width:100%;
		box-sizing: border-box;
		margin-bottom: 30px;
		text-align: center;
	}

	.portfolio-item__img img {
		width: 300px;
	}

	.button{
		padding-left: 10px;
		padding-right: 10px;
		margin-left: -53%;
	}

	.footer .col-4 p {
		margin-right: 73px;
	}

	.plast{
		display: none;
	}

#button-up{
		display: none;
		position: fixed;
		right: 20px;
		bottom: 100px;			
		color: #fff;
		text-align: center;
		font-size: 30px;
		padding: 15px;
		transition: .1.5s;
		
 }

}

.apolo_img{
	width: 100%;
	height: 100%;
}
.organ_img{
	width: 100%;
	height: 100%;
}
.wrap{
	position: absolute;	
  }

 .card{
	width: 300px;
	height: 300px;
	perspective:1000px;
  }

  .front,.back{
  	position:absolute ;
	width: 100%;
	height: 85%;
	display: flex;
	flex-direction: column;
	transition:1s;
	backface-visibility:hidden;
  }

  .front{
  background-color: #fff;
  }

  .back{
	width: 355px;
	height: 250px;
  	background-image: url(../img/img1.jpg);
  	transform:rotateY(180deg);
  }
   
 
 .back{
	background: linear-gradient(45deg, #00BFFF,#7B68EE);
	display: flex;
	justify-content: center;
	align-items: center;
 }


 
 .back span a {
	 color:#fff;
	 text-decoration: none;
	 font-family: Rubins;
	 font-size: 40px;
 }
 
 

  .card:hover .front{
	transform:rotateY(180deg); }
  .card:hover .back{
	transform:rotateY(360deg); }

#button-up{
		display: none;
		position: fixed;
		right: 40px;
		bottom: 100px;			
		color: #fff;
		text-align: center;
		font-size: 30px;
		padding: 15px;
		transition: .1.5s;
		
	  }
#button-up:hover{
		cursor: pointer;
		transition: .2s;
	  }

.scrollto{
		  color: #fff;
	  }





/* ! Смена темы */
.dark_theme{
background-color: rgb(34, 33, 33);
}
#toggleThemeBtn{
	background-color: transparent;
	color: #fff;
	position: absolute;
	top: 310px;
	right:  40px;
	border: 2px solid #000;
	padding: 10px 15px;
	border-radius: 10px;
	font-weight: 700;
}
body.light #toggleThemeBtn:hover{
	background-color: #fff;
	color: #000;
	
}
body.dark_theme #toggleThemeBtn:hover{
	background-color: #000;
	color: #fff;
	
}
body.light #toggleThemeBtn:active{
	border: transparent;
}
body.dark_theme .front{
	background-color: rgb(34, 33, 33);
}
body.dark_theme .portfolio-item__title a{
	border-bottom: none;
	color: rgb(134, 130, 130);
}
body.dark_theme .portfolio-item__text  {
	color: rgb(134, 130, 130);
}
body.dark_theme .title {
	color: rgb(134, 130, 130);
}


*, *:before, *:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
  }
  
 
  

  
  
  
   
   #menu__toggle {
	opacity: 0;
  }
  
  #menu__toggle:checked ~ .menu__btn > span {
	transform: rotate(45deg);      /* поварачивает полоски бургера*/
	background-color: #fff;
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
	top: 0;
	transform: rotate(0);  /* поварачивает полоски бургера*/
	background-color: #fff;
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
	top: 0;
	transform: rotate(90deg);  /* поварачивает полоски бургера*/
	background-color: #fff;
  }
  #menu__toggle:checked ~ .menu__box {   /* Меню будет видно если  индефикатор будет*/
	visibility: visible;
	right:  0;                    /* На сколько сместиться меню от левого края*/
	
  }
  
  .menu__btn {
	display: flex;
	align-items: center;
	position: fixed;
	top:20px;
	right:  55px;
	width: 36px;
	height: 36px;
	cursor: pointer;
	z-index: 1000;
  }
  
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
	display: block;
	position: absolute;
	width: 100%;
	height: 3px;                 /* Толщина палочек меню*/
	background-color: #1a1919;       /* Цвет бургера*/
	transition-duration: .25s;
  }
  .menu__btn > span::before {
	content: '';
	top: -8px;
  }
  .menu__btn > span::after {
	content: '';
	top: 8px;
  }
  
  .menu__box {
	display: block;
	position: fixed;
	visibility: hidden;
	top: 20px;
	right:  -100%;
	width: 300px;
	height: 100%;
	margin: 0;
	padding: 80px 0px;
	list-style: none;
	background-color: #0707079f; /* Задний фон меню меню*/
	box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);    /* Цвет тени*/
	z-index: 999;
	transition-duration: .25s;
  }
  
  .menu__item {
	display: block;
	padding: 12px 24px;
	color: rgb(187, 184, 184);  /* Цвет меню*/
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: 600;
	text-decoration: none;
	transition-duration: .25s;
  }
  .menu__item:hover {
	background-color: #08a4e7;     /* Цвет  при наведении */
  }



/* !слайдер */


.photo{
	height: 40px;
	width: 40px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border-radius: 50%;
}

.name{
	font-size: 40px;
	font-weight: 900;
}
.rev__slider{
	width: 600px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-self: center;
}
.slide{
	background-color: #fafafa;
}